<div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Endomorph</span>
       </h4>
      </div>
      <div class="card__details">
       <ul>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
        <li>Chestie 1</li>
       </ul>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Body Type</p>
        <p class="card__title">Endomorph</p>
       </div>
      </div>
     </div>
   
    </div>
   </div>